.wrapper {
  width: 100%;
}
.wrapper h1{
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #030362d9;
}
.container{
  border: 1px #030362d9 solid;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}
.heading{
  border: 1px #030362d9 solid;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serialNum,.name,.phone,.checked{
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 0;
  color: #030362d9;
  border: 1px #030362d9 solid;
  width: 100%;
  max-width: 15rem;
}
.noInterest{
  text-transform: uppercase;
  color: #030362d9;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .wrapper{
    padding: 0 1rem;
  }
  .wrapper h1{
    font-size: 2rem;
  }
  .container{
    max-width: 100%;
  }
  .serialNum{
    font-size: 0.8rem;
    max-width: 8%;
  }
  .name{
    font-size: 0.8rem;
    max-width: 42%;
  }
  .phone{
    font-size: 0.8rem;
    max-width: 35%;
  }
  .checked{
  font-size: 0.8rem;
  max-width: 15%;
}
.noInterest{
  font-size: 1.5rem;
}
}
