.wrapper {
  border: 1px #030362d9 solid;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.serialNum,
.name,
.phone,
.checked {
  width: 100%;
  max-width: 15rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  color: #030362d9;
  border: 1px #030362d9 solid;
}

@media screen and (max-width: 650px) {
  .container{
    max-width: 100%;
  }
  .serialNum{
    font-size: 0.8rem;
    max-width: 8%;
  }
  .name{
    font-size: 0.8rem;
    max-width: 42%;
  }
  .phone{
    font-size: 0.8rem;
    max-width: 35%;
  }
  .checked{
  font-size: 0.8rem;
  max-width: 15%;
}
}
