*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* a{
  color: #333;
  text-decoration: none;
  display: block;
}

body{
  width: 100%;
}
.app{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fbd6043a;
  padding: 4rem 0;
}
.copyRight{
  color: #030362d9;
  margin-top: 5rem;
}