*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* a{
  color: #333;
  text-decoration: none;
  display: block;
}

body{
  border: 1px red solid;
  width: 100%;
}
.App{
  border: 1px red solid;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbd6043a;
  padding: 4rem 0;
}